.white .uk-navbar-nav {
    color: white!important;   
}

.uk-tooltip {
    display: none;
    position: absolute;
    z-index: 1030;
    box-sizing: border-box;
    max-width: 200px;
    padding: 3px 6px;
    background: #007bff !important;
    border-radius: 50px !important;
    color: #fff;
    font-size: 12px;
}

.map {
    justify-self: center;
    align-self: center;
    margin: auto;
    border-radius: 10px;
}

.uk-card-body {
    padding: 20px !important;
    margin: auto !important;
    margin-bottom: auto !important; 
}

.uk-card {
    border-radius: 10px !important;
    margin: 4vh 5vw 2vh 5vw !important;
}

* {
    overflow-y: scroll;
}

.output {
    position: absolute;
    z-index: -1;
    opacity: 0;
    scale: 0;
    height: 1px;
    width: 1px;
}