.white .uk-navbar-nav {
    color: white!important;   
}

*:not(body){
  /* GRRRRR WORK */
  overflow: hidden;
}

.uk-tooltip {
    display: none;
    position: absolute;
    z-index: 1030;
    box-sizing: border-box;
    max-width: 200px;
    padding: 3px 6px;
    background: #007bff !important;
    border-radius: 50px !important;
    color: #fff;
    font-size: 12px;
}

.map {
    justify-self: center;
    align-self: center;
    margin: auto;
    border-radius: 10px;
}

.mapTextCover {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  bottom: 10px;
  align-self: center;
  opacity: 0;
}

.uk-table td {
  padding: 2px !important;
}

.hiddenButton {
  border: none;
  padding: 0;
  cursor: pointer;
}

.fadeTransition {
  -webkit-transition:opacity 0.5s linear;
  -moz-transition:opacity 0.5s linear;
  -o-transition:opacity 0.5s linear;
  -ms-transition:opacity 0.5s linear; 
  transition:opacity 0.5s linear;
}

.uk-card-body {
    padding: 20px !important;
    margin: auto !important;
    margin-bottom: auto !important; 
}

.uk-card {
    border-radius: 10px !important;
    margin: 4vh 5vw 2vh 5vw !important;
}

.uk-button { 
  transition: all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  -ms-transition:all .2s ease-in-out;
  }
.uk-button:hover { 
  transform: scale(1.1); 
  }

button:hover {
  scale: 1.2;
}

.output {
    position: absolute;
    z-index: -1;
    opacity: 0;
    scale: 0;
    height: 1px;
    width: 1px;
}

.uk-notification-message {
  border-radius: 50px;
  padding: 8px !important;
  align-text: center;
}

@media screen and (max-width: 639px) {
  .uk-first-column {
      margin-bottom: inherit !important;
  }
}



/* Animations */

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}



.scale-out-center {
	-webkit-animation: scale-out-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-out-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}




