.white .uk-navbar-nav {
    color: white!important;   
}

.uk-tooltip {
    display: none;
    position: absolute;
    z-index: 1030;
    box-sizing: border-box;
    max-width: 200px;
    padding: 3px 6px;
    background: #007bff !important;
    border-radius: 50px !important;
    color: #fff;
    font-size: 12px;
}

.uk-card {
    border-radius: 10px !important;
    margin: 5rem 5rem 2rem 5rem !important;
}

* {
    overflow-x: scroll;
}

.output {
    position: absolute;
    z-index: -1;
    opacity: 0;
    scale: 0;
    height: 1px;
    width: 1px;
}
}